*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body
{
   /* background-image: url(bg1.png);*/
    /* background-image: url(../Images/bg1.png); */
    background-position: center;
    background-repeat: repeat;

}

/* home button external with annimation bouncing */
.homeBtn{
    width: 70px;
    height: 70px;
    position: absolute;
    left: 30px;
    bottom: 30px;
    background-color: #DE7047;
    line-height: 70px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    color: #FFF !important;
    /* color: rgb(8, 8, 8) !important; */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}
.homeBtn:hover {
    text-decoration: none;
    color: #CDDE47 !important;
    /* color: #000000 !important; */
    animation-name: homeBtn;
    animation-timing-function: ease;
}

@keyframes homeBtn {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-100px); }
  100% { transform: translateY(0); }
}



/* for day night light it is not complete yet */
/* :root{
    --primary-color: #FFF;
    --secondary-color: #212121;

    /* --primary-color: #000106;
    --secondary-color: #fff; 
}

.dark-theme{
    --primary-color: #000106;
    --secondary-color: #fff;
} */
.night1{
    background-color: #000 !important;
    color: #FFF !important;
}
.day1{
    background-color: #FFF !important;
    color: #000 !important;
}
.day1 .dataTables_wrapper .dataTables_filter input, .day1, .day1 .dataTables_wrapper .dataTables_length select {
color: #000 !important;
}

.night1 .dataTables_wrapper .dataTables_filter input, .night1 .dataTables_wrapper .dataTables_length select{
    color: rgb(190, 10, 10) !important;
    
    }

#dayNightBtn{
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #DE7047;
    line-height: 70px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    color: #FFF !important;
    /* color: rgb(8, 8, 8) !important; */
    /* animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom; */
}
.dayNightBtn:hover {
    text-decoration: none;
    color: #CDDE47 !important;
    /* color: #000000 !important; */
    /* animation-name: homeBtn;
    animation-timing-function: ease; */
}

/* @keyframes homeBtn {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-100px); }
  100% { transform: translateY(0); }
} */




/* .homeBtn :hover{
    text-decoration: none;
    color: #CDDE47 !important;
    /* color: #000000 !important; 
} */

/* .homeBtn{
    width: 70px;
    height: 70px;
    position: absolute;
    left: 30px;
    bottom: 30px;
    background-color: #DE7047;
    line-height: 70px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    color: #FFF !important;
    /* color: rgb(8, 8, 8) !important; 
}
.homeBtn :hover{
    text-decoration: none;
    color: #CDDE47 !important;
    /* color: #000000 !important; 
} */


.bg1{
    background-color: #528540;
}
.bg2{
    background-color: #DE7047;
}
.bg3{
    background-color: #CDDE47;
}

.myBg{
   
    background-color: var(--primary-color);
    padding: 10px;
    border: #DDD;
    box-shadow: -4px 3px 7px 4px #ddd;
}
.txt1{
    color: #528540;
}
.txt2{
    color: #DE7047;
}
.txt3{
    color: #CDDE47;
}

.clr1 {
    background-color: #528540;
}
.sb{
    background-color: #000;
    color:  var(--primary-color);
}

.nav-link  i {
    padding: 0 6px;
}
.mainTitle{
    max-width: 400px;
    background-color: #DE7047;
    padding: 10px 15px;
    margin: 12px auto;
    text-align: center;
    border: 2px solid #CDDE47;
    color: #edf3bc;
    border-radius: 0 0 20px 20px;
}

/*
==============================================================================
.p
{
    background-color: aqua;

} */
.main-menu-bar
{
    background-color: rgb(0, 100, 0);
    text-align: center;
}

.main-menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: var(--primary-color);

} 

.main-menu-bar ul li
{
    width: fit-content;
    margin: 15px;
    padding: 15px;
}

.main-menu-bar ul li a{
    text-decoration: none;
    color: var(--primary-color);
}

.active , .main-menu-bar ul li:hover 
{
    background: #2bab0d;
    border-radius: 3px;
}

.main-menu-bar  .fa
{
    margin-right: 6px;
}


.sub-menu-1
{
    display: none;
}

.main-menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: rgb(0, 100, 0);
    margin-top: 15px;
    margin-left: -15px;
}

.main-menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;

}

.main-menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.main-menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}

.main-menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: #b2ff00;
}



.col-row{
    /* color: black!important; */
    text-decoration-line: blink;
    border: 1px solid;
    border-radius: 5px;
    border-color: #c2c2c2;
    margin: 5px 0px;
    padding: 10px;

    background-color: aquamarine; 
    box-shadow: 2px 3px 5px 1px #bfa5a5;
}
.col-row:hover{
    cursor: pointer;
}

.cancelbutton{
    color: black!important;
    text-decoration-line: blink;
    border: 1px solid;
    border-radius: 5px;
    border-color: #c2c2c2;
    margin: 5px 0px;
    padding: 10px;
    background-color: aquamarine;
    box-shadow: 2px 3px 5px 1px #bfa5a5;
}
.cancelbutton:hover{
    cursor: pointer;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: green;
    /* color: initial; */
}

/* new order  */
.Cart-Container{
    width: 70%;
    height: 85%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
   }

   .Header{
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .Heading{
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 700;
    color: #2F3841;
   }
   .Action{
    font-size: 14px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
   }


   .Cart-Items{
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .image-box{
    width: 15%;
    text-align: center;
   }
   .about{
    height: 100%;
   }
   .title{
    padding-top: 5px;
    line-height: 10px;
    font-size: 32px;
    font-family: ‘Open Sans’;
    font-weight: 800;
    color: #202020;
   }
   .subtitle{
    line-height: 10px;
    font-size: 18px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #909090;
   }

   #modules {
     padding: 20px;
     background: #eee;
     margin-bottom: 20px;
     z-index: 1;
     border-radius: 10px;
   }

   #dropzone {
     padding: 20px;
     background: #eee;
     min-height: 100px;
     margin-bottom: 20px;
     z-index: 0;
     border-radius: 10px;
   }

   .active {
     outline: 1px solid red;
   }

   .hover {
     outline: 1px solid blue;
   }

   .drop-item {
     cursor: pointer;
     margin-bottom: 10px;
     background-color: rgb(255, 255, 255);
     padding: 5px 10px;
     border-radisu: 3px;
     border: 1px solid rgb(204, 204, 204);
     position: relative;
   }

   .drop-item .remove {
     position: absolute;
     top: 4px;
     right: 4px;
   }