<!DOCTYPE html>
<html lang="en"  xmlns:th="https://thymeleaf.org">
<head>
    
</head>
<body>
    <div class="container">
        <div class="border border-success pb-4 mt-5">
            <div class="alert alert-primary" role="alert">
                If you dont have an account you can register now free 
              </div>
              <div class="row justify-content-md-center">
                <div class="col-12 col-md-6">
                    <form action="NewOrder.html">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">remember me</label>
                        </div>
                        <div class="text-center">

                        
                        <button type="submit" class="btn btn-block btn-lg btn-success">Login</button>
                        <br>
                        <hr>
                        <a href="Index.html" class="btn btn-danger">Go Back</a>
                        <a href="clientRegister.html" class="btn btn-info">New user ? Register</a>
                    </div>
                      </form>
                </div>
              </div>
        </div>
    </div>

    <script src="fullproject/src/main/resources/js/jquery-3.5.1.js"></script>
    <script src="fullproject/src/main/resources/Bootstrap/JS/bootstrap.min.js"></script>
    <script src="fullproject/src/main/resources/JS/CreateNav.js"></script>
    <script src="fullproject/src/main/resources/static/js/Files.js"></script>

</body>
</html>