<!DOCTYPE html>
<html lang="en"  xmlns:th="https://thymeleaf.org">

<head>

</head>

<body>


    <div class="container mt-3">
        <div class="alert alert-success" role="alert">
            <a href="ItemsAdd.html">    
                <i class="fa fa-plus-square fa-3x" aria-hidden="true"></i>
            </a>
          </div>
        <div class="myBg">
            <table id="example" class="display table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ItemName</th>
                        <th>Price</th>
                        <th>Image</th>
                      
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Item name</td>
                        <td>100 $</td>
                        <td><img class="indexImg" src="images/D1.jpg"/></td>
                        <td>
                            <a class="btn btn-success mr-2 rounded-circle2" title="Edit" href="ItemEdit.html"><i class="fa fa-pencil-square"></i></a> 
                            <a class="btn btn-warning mr-2 rounded-circle2"  title="Details" href="itemDetails.html"><i class="fa fa-info-circle"></i></a> 
                            <a class="btn btn-danger mr-2 rounded-circle2" title="Delete" href="ItemDelete.html"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Item name</td>
                        <td>300 $</td>
                        <td><img class="indexImg" src="images/p1.jpg"/></td>
                        <td>
                            <a class="btn btn-success mr-2 rounded-circle2" title="Edit" href="ItemEdit.html"><i class="fa fa-pencil-square"></i></a> 
                            <a class="btn btn-warning mr-2 rounded-circle2"  title="Details" href="itemDetails.html"><i class="fa fa-info-circle"></i></a> 
                            <a class="btn btn-danger mr-2 rounded-circle2" title="Delete" href="ItemDelete.html"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>





    
    <script src="js/jquery-3.5.1.js"></script>
    
    <script src="js/jquery.dataTables.min.js"></script>

    <script src="Bootstrap/JS/bootstrap.min.js"></script>
    <script src="JS/CreateNav_adminy.js"></script>
    <script src="js/Files.js"></script>
   <!--  <script src="js/table.js"></script> -->








</body>

</html>